


<section class="container __login-wrapper">
    <form class="__contact-form container" action="">
        <h3 class="__form-title">Please Register Your New Account</h3>
        <div class="__form-divider"></div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="phone">First Name *</label>
                <input class="__form-input-box" type="text" name="firstName">
            </div>
            <div class="__form-group">
                <label for="company">Last Name *</label>
                <input class="__form-input-box" type="text" name="lastName">
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="email">Street Name *</label>
                <input class="__form-input-box" type="text" name="streetName">
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="phone">Postal Code *</label>
                <input class="__form-input-box" type="text" name="postalCode">
            </div>
            <div class="__form-group">
                <label for="company">City *</label>
                <input class="__form-input-box" type="text" name="City">
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="phone">Mobile (optional)</label>
                <input class="__form-input-box" type="text" name="phone">
            </div>
            <div class="__form-group">
                <label for="company">Company (optional)</label>
                <input class="__form-input-box" type="text" name="company">
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="email">Email *</label>
                <input class="__form-input-box" type="email" name="email">
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="phone">Password *</label>
                <input class="__form-input-box" type="password" name="password">
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="phone">Confirm Password *</label>
                <input class="__form-input-box" type="password" name="passwordConfirm">
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label for="phone">Upload Profile Image (Optional)</label>
                <input class="__form-input-box" type="text" name="profile_img">
            </div>
        </div>
        <div class="__form-remember">
            <input type="checkbox" name="remember" id="remember">
            <label class="__remember-text" for="remember">I have read and accepts the <a class="__terms-link" href="">terms and agreements</a></label>
        </div>
        <div class="__group-button-wrapper">
            <button type="submit" class="__btn-red __form-submit-btn mt-5">Register</button>
            <a asp-controller="Login" asp-action="index">Already have a account?</a>
        </div>
    </form>
</section>