@model UserRegisterViewModel


<section class="container __login-wrapper">
    <form enctype="multipart/form-data" class="__contact-form container" method="post" novalidate>
        <h3 class="__form-title">Please Register Your New Account</h3>
        <div class="__form-divider"></div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="FirstName"></span></small>
            </div>
            <div class="__form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="LastName"></span></small>
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="StreetName"></span></small>
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="PostalCode"></span></small>
            </div>
            <div class="__form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="City"></span></small>
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" class="__form-input-box" />
            </div>
            <div class="__form-group">
                <label asp-for="CompanyName"></label>
                <input asp-for="CompanyName" class="__form-input-box" />
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="Email"></span></small>
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="Password"></span></small>
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="ConfirmPassword"></span></small>
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" class="__form-input-box" />
            </div>
        </div>
        <div class="__form-remember">
            <input asp-for="AgreeToTerms" class="__form-input-box" />
            <label asp-for="AgreeToTerms" class="__remember-text"></label>
        </div>
        <small class="text-danger mt-3"><span asp-validation-for="AgreeToTerms"></span></small>
        <div class="__group-button-wrapper">
            <button type="submit" class="__btn-red __form-submit-btn mt-5">Register</button>
            <a asp-controller="Login" asp-action="index">Already have an account?</a>
        </div>
    </form>
</section>