@{
    ViewData["Title"] = "Dashboard";
}

<partial name="../partials/_Breadcrumbs.cshtml" />

<section class="container __dashboard-wrapper">
    <div class="__dashboard-btn-wrapper">
        <a asp-action="ManageUsers" class="__btn-red">Manage Users</a>
        <a asp-action="ManageProducts" class="__btn-red">Manage Products</a>
    </div>
    <img src="/images/basic-bar-graph.png" alt="Placeholder Graph">
</section>