@{
    var users = userManager.Users.ToList();
}

<partial name="../partials/_Breadcrumbs.cshtml" />

<section class="container __dashboard-wrapper">
    <div class="__dashboard-btn-wrapper">
        <a asp-action="Index" class="__btn-red">Return to Dashboard</a>
    </div>
    <div class="__dashboard-btn-wrapper">
        <a asp-action="CreateUser" class="__btn-red">New User</a>
    </div>
    <div class="__list-wrapper">
        @foreach (var user in users)
        {
            var roles = await userManager.GetRolesAsync(user);
            <div class="__item-box align-items-start">
                <img class="__img-small" src="~/images/users/@user.ImageUrl" alt="@user.UserName" />
                <p>@user.UserName</p>
                @foreach (var role in roles)
                {
                    <p>@role</p>
                }
                <a asp-action="UpdateUser" asp-route-id="@user.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                <button><i class="fa-light fa-trash"></i></button>
            </div>
        }
    </div>
</section>
