

<partial name="../partials/_Breadcrumbs.cshtml" />

<section class="container __dashboard-wrapper">
    <div class="__dashboard-btn-wrapper">
        <a href="/Dashboard.html" class="__btn-red">Return to Dashboard</a>
    </div>
    <div class="__dashboard-btn-wrapper">
        <a href="/Product-create.html" class="__btn-red">New Product</a>
    </div>
    <div class="__list-wrapper">
        <div class="__item-box">
            <p>Product 1</p>
            <a href="/Product-create.html"><i class="fa-solid fa-pen-to-square"></i></a>
            <button><i class="fa-light fa-trash"></i></button>
        </div>
        <div class="__item-box">
            <p>Product 2</p>
            <a href="/Product-create.html"><i class="fa-solid fa-pen-to-square"></i></a>
            <button><i class="fa-light fa-trash"></i></button>
        </div>
        <div class="__item-box">
            <p>Product 3</p>
            <a href="/Product-create.html"><i class="fa-solid fa-pen-to-square"></i></a>
            <button><i class="fa-light fa-trash"></i></button>
        </div>
        <div class="__item-box">
            <p>Product 4</p>
            <a href="/Product-create.html"><i class="fa-solid fa-pen-to-square"></i></a>
            <button><i class="fa-light fa-trash"></i></button>
        </div>
    </div>
</section>