@{
    var users = userManager.Users.ToList();
}

<partial name="../partials/_Breadcrumbs.cshtml" />

<section class="container __dashboard-wrapper">
    <div class="__dashboard-btn-wrapper">
        <a asp-action="Index" class="__btn-red">Return to Dashboard</a>
    </div>
    <div class="__dashboard-btn-wrapper">
        <a asp-action="CreateUser" class="__btn-red">New User</a>
    </div>
    <div class="__list-wrapper w-100">
        @foreach (var user in users)
        {
            var roles = await userManager.GetRolesAsync(user);
            <div class="w-100 __item-box">
                <img class="__img-small" src="~/images/users/@user.ImageUrl" alt="@user.UserName" />
                <p>@user.UserName</p>
                @foreach (var role in roles)
                {
                    <p>@role</p>
                }
                @if (roles.Contains("admin"))
                {
                    <form method="post" novalidate>
                        <input type="text" name="userId" hidden value=@user.Id />
                        <button type="submit"><small>Remove Admin</small></button>
                    </form>
                } else
                {
                    <form method="post" novalidate>
                        <input type="text" name="userId" hidden value=@user.Id />
                        <button type="submit"><small>Make Admin</small></button>
                    </form>
                }
            </div>
        }
    </div>
</section>
