@{
    var products = await productService.GetAllProducts();
}

<partial name="../partials/_Breadcrumbs.cshtml" />
<section class="container __dashboard-wrapper">
    <div class="__dashboard-btn-wrapper">
        <a asp-action="Index" class="__btn-red">Return to Dashboard</a>
    </div>
    <div class="__dashboard-btn-wrapper">
        <a asp-action="CreateProduct" class="__btn-red">New Product</a>
    </div>
    <div class="text-danger d-flex justify-content-center mt-3" asp-validation-summary="All"></div>
    <div class="__list-wrapper w-100">
        @{
            if (products != null)
            foreach(var product in products)
            {
                    <div class="__item-box">
                        <img class="__img-small" src="~/images/products/@product.ImagePath" />
                        <p>@product.Name</p>
                        <a asp-action="UpdateProduct" asp-route-id="@product.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form method="post" novalidate>
                            <input type="number" name="productId" hidden value="@product.Id" />
                            <button type="submit"><i class="fa-light fa-trash"></i></button>
                        </form>
                    </div>
            }
        }
    </div>
</section>