:root {
    --color-theme-light: #FFFFFF;
    --color-theme-dark: #292929;
    --color-theme-red: #FA3150;

    --color-white-0: #FAFAFA;

    --color-gray-0: #636363;
    --color-gray-1: #626262;
    --color-gray-2: #707070;
    --color-gray-3: #AEAEAE;
    --color-gray-4: #A5A5A5;
    --color-gray-5: #F3F2F2;
    --color-gray-6: #DDDDDD;

    --color-dark-0: #000000;
    --color-dark-1: #363636;

    --color-yellow-0: #FFB71B;
    --color-yellow-1: #F9C936;

    --color-green-0: #92B8B9;

    --color-red-0: #FAEFEF;
}