@{
    ViewData["Title"] = "Denied";
}
<div class="container my-auto d-flex justify-content-center align-items-center">
    <div class="mt-5 mb-5" style="height: 700px;">You do not have permission to view this page</div>
</div>
