<header>
    <div class="container __header-wrapper __flex-row mt-4 mb-4">
        <nav class="__flex-row __header-icon">
            <a asp-controller="Home" asp-action="Index"><img src="/images/logo.svg" alt="bmerketo-logo"></a>
            <button class="__menu_button" data-option="toggle" data-target="#menu"><i class="__nav-link-gray __header-menu-icon me-3 fa-solid fa-bars"></i></button>
        </nav>
        <nav id="menu" class="__flex-row hide __header-menu-links">
            @{
                if(signInManager.IsSignedIn(User) && User.IsInRole("admin"))
                {
                    <a class="__nav-link me-3" asp-controller="Dashboard" asp-action="Index">DASHBOARD</a>
                }
            }
            <a class="__nav-link me-3" asp-controller="Home" asp-action="Index">HOME</a>
            <a class="__nav-link me-3" asp-controller="Product" asp-action="Index">PRODUCTS</a>
            <a class="__nav-link me-3" asp-controller="Contact" asp-action="Index">CONTACT</a>
            <i class="__nav-link-gray me-3 fa-solid fa-magnifying-glass"></i>
            @{
                if (signInManager.IsSignedIn(User))
                {
                    <image class="__img-small" src="/images/users/@User.FindFirst("Image").Value" alt="@User.FindFirst("FullName").Value" />
                    <a class="__nav-link-gray me-3" asp-controller="Account" asp-action="Index">@User.Identity.Name</a>
                    <a class="__nav-link-gray me-3" asp-controller="LogOut" asp-action="Index">Log Out</a>
                }
                else {
                    <a class="__nav-link-gray me-3" asp-controller="Login" asp-action="Index">Login</a>
                }
            }
            <i class="__nav-link-gray me-3 fa-solid fa-cart-shopping"></i>
        </nav>
    </div>
</header>