@model HomeViewModel;

<section class="__hero-section">
    <div class="__hero-wrapper container __flex-row">
        <div class="__hero-text">
            <h3 class="__hero-title-small">@Model.Hero.TitleSmall</h3>
            <h2 class="__hero-title-large">@Model.Hero.TitleLarge</h2>
            <a class="__btn-red">@Model.Hero.ButtonText</a>
        </div>
        <img class="__hero-img ms-3" src="/images/showcase1.png" alt="A chair">
    </div>
</section>