<section class="__newsletter-section">
    <div class="container __newsletter-wrapper">
        <form action="" class="__newsletter-form">
            <input type="email" placeholder="Enter your email here">
            <button class="__btn-red __button">SUBSCRIBE FOR NEWSLETTER</button>
        </form>
    </div>
</section>