@model ProductModel

<div class="__product-card">
    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"><img class="__product-card-img" src="" alt=""></a>
    <div class="__product-card-info">
        <div class="__info-text">
            <p class="__info-title">@Model.Name</p>
            <p class="__info-price">@Model.Price</p>
        </div>
        <button class="__info-button"><i class="fa-light fa-cart-plus"></i></button>
    </div>
</div>