@model HomeViewModel
@inject ProductService productService
@{
    var products = await productService.GetProducts(8);
}

<section class="__product-display-section">
    <div class="__display-wrapper container">
        <h2 class="__display-title">@Model.ProductDisplay.Title</h2>
        @if (Model.ProductDisplay.categories != null) 
        {
            <nav class="__display-nav">
                @foreach(var category in Model.ProductDisplay.categories)
                {
                    <a class="__display-item" href="">@category</a>
                }
            </nav>
        }
        @if(products != null)
        {
            <div class="__display-grid">
                @foreach (var product in products)
                {
                    <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />
                }
            </div>
        }

    </div>
</section>