@inject ProductService productservice
@model HomeViewModel
@{
    var products = productservice.GetProducts(5);
    var productsBig = productservice.GetProducts(3);
}

<section class="container __top-sellers">
    <div class="__top-sellers-wrapper">
        <div class="__top-seller-title">
            <h2>@Model.TopSellers.Title</h2>
        </div>
        <div class="__top-sellers-products-wrapper">
            @if(products != null)
            {
                @foreach(var product in products)
                {
                    <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />
                }
            }
        </div>
        <div class="__top-sellers-products-big-wrapper">
            @if (productsBig != null)
            {
                @foreach (var product in productsBig)
                {
                    <partial name="/Views/Partials/_ProductCardBig.cshtml" model="product" />
                }
            }
        </div>
    </div>
</section>
