@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";

}

<section class="container __login-wrapper">
    <form class="__contact-form container" method="post" novalidate>
        <div class="text-danger d-flex justify-content-center mt-3" asp-validation-summary="All"></div>
        <h3 class="__form-title">Please Login to Your Account</h3>
        <div class="__form-divider"></div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="Email"></span></small>
            </div>
        </div>
        <div class="__form-wrapper">
            <div class="__form-group">
                <div class="__form-group-password">
                    <label asp-for="Password"></label>
                    <a href="">Forgot Your Password?</a>
                </div>
                <input asp-for="Password" class="__form-input-box" />
                <small class="text-danger mt-3"><span asp-validation-for="Password"></span></small>
            </div>
        </div>
        <div class="__form-remember">
            <input type="checkbox" name="remember" id="remember">
            <label class="__remember-text" for="remember">Please keep me logged in</label>
        </div>
        <div class="__group-button-wrapper">
            <button type="submit" class="__btn-red __form-submit-btn mt-5">Login</button>
            <a asp-controller="Register" asp-action="index">Dont have an account yet?</a>
        </div>
    </form>
</section>