.__detail-nav-wrapper {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    flex-direction: column;

    @include xl {
        flex-direction: row;
    }

    .__nav-box {
        display: flex;
        justify-content: center;
        border: solid 1px var(--color-gray-6);
        width: 100%;
        padding: .5rem 0 .5rem 0;
        text-align: center;
        background-color: transparent;
        font-family: var(--font-Roboto);
        font-size: 16px;
        color: var(--color-gray-0);
        text-align: center;

        &:hover {
            background-color: var(--color-theme-red);
            color: var(--color-theme-light);
        }
    }

    .__box-selected {
        background-color: var(--color-theme-red);
        color: var(--color-theme-light);

        &:hover {
            background-color: var(--color-theme-dark);
            color: var(--color-theme-light);
        }

    }
}

.__info-desc-wrapper {

    border-bottom: solid 1px var(--color-gray-6);
    
    padding-bottom: 3rem;
    .__desc-title {
        font-size: 24px;
        font-weight: var(--font-semi-bold);
        margin-top: 2rem;
    }

    .__desc-content-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include xl {
            flex-direction: row;
        }

        .__desc-text {
            font-family: var(--font-Roboto);
            font-size: 16px;
            flex: 3;
            padding-right: 3rem;
        }

        .__desc-img {
            flex: 2;
            width: 350px;
            height: 470px;
            background-color: var(--color-gray-3);
        }
    }
}


