 
   


<!-- BreadCrumbs section -->
<nav class="__bread">
    <h3 class="__bread-title">SHOP</h3>
    <div class="__bread-nav">
        <a href="/Index.html">HOME</a>
        <p>/</p>
        <p>Product</p>
    </div>
</nav>

<!-- Product Details Top -->
<section class="container">
    <div class="__detail-top-wrapper">
        <div class="__detail-top-img-wrapper">
            <img class="__detail-top-img-big" src="" alt="">
            <div class="__detail-top-img-small-wrapper">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
        <div class="__detail-top-info-wrapper">
            <h3 class="__info-title">Young Star Smart Shoe in Fashion</h3>
            <p class="__info-desc">Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="__info-rating-wrapper">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p class="__info-rating-sum">16 Reviews</p>
            </div>
            <h3 class="__info-price">$30</h3>
            <div class="__info-cart-wrapper">
                <button class="__cart-controll-button">-</button>
                <input type="text" placeholder="0">
                <button class="__cart-controll-button">+</button>
                <button class="__btn-red __cart-button">Add to cart <i class="fa-regular fa-cart-plus"></i></button>
            </div>
            <div class="__info-stock-wrapper">
                <i class="__info-stock-out fa-solid fa-circle"></i>
                <i class="__info-stock-low fa-solid fa-circle"></i>
                <i class="__info-stock-many fa-solid fa-circle"></i>
                <p>SKU: N/A</p>
            </div>
            <button class="__info-wishlist">Add to Wishlist</button>
            <p class="__info-category">Category: Table Lamp, Light</p>
        </div>
    </div>
</section>

<!-- Product Details Bottom -->
<section class="__products-details-bottom container">
    <div class="__detail-nav-wrapper">
        <button class="__nav-box __box-selected">
            DESCRIPTION
        </button>
        <button class="__nav-box">
            ADDITIONAL INFO
        </button>
        <button class="__nav-box">
            REVIEWS (16)
        </button>
        <button class="__nav-box">
            SHIPPING AND DELIVERY
        </button>
    </div>
    <div class="__info-desc-wrapper">
        <h2 class="__desc-title">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h2>
        <div class="__desc-content-wrapper">
            <p class="__desc-text">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.<br />
                accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?<br />
                Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus.<br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.<br />
            </p>
            <img class="__desc-img" src="" alt="">
        </div>
    </div>
</section>

<!-- Related Products section -->
<section class="__related-products-section container">
    <h2 class="__related-title">Related Products</h2>
    <div class="__related-products-wrapper">
        <div class="__product-card">
            <img class="__product-card-img" src="" alt="">
            <div class="__product-card-info">
                <div class="__info-text">
                    <p class="__info-title">Apple Watch Series</p>
                    <p class="__info-price">$30.00</p>
                </div>
                <button class="__info-button"><i class="fa-light fa-cart-plus"></i></button>
            </div>
        </div>
        <div class="__product-card">
            <img class="__product-card-img" src="" alt="">
            <div class="__product-card-info">
                <div class="__info-text">
                    <p class="__info-title">Apple Watch Series</p>
                    <p class="__info-price">$30.00</p>
                </div>
                <button class="__info-button"><i class="fa-light fa-cart-plus"></i></button>
            </div>
        </div>
        <div class="__product-card">
            <img class="__product-card-img" src="" alt="">
            <div class="__product-card-info">
                <div class="__info-text">
                    <p class="__info-title">Apple Watch Series</p>
                    <p class="__info-price">$30.00</p>
                </div>
                <button class="__info-button"><i class="fa-light fa-cart-plus"></i></button>
            </div>
        </div>
        <div class="__product-card">
            <img class="__product-card-img" src="" alt="">
            <div class="__product-card-info">
                <div class="__info-text">
                    <p class="__info-title">Apple Watch Series</p>
                    <p class="__info-price">$30.00</p>
                </div>
                <button class="__info-button"><i class="fa-light fa-cart-plus"></i></button>
            </div>
        </div>
    </div>
</section>