@model ContactViewModel
@{
    ViewData["Title"] = "Contact";

    BreadcrumbsModel bread = new()
    {
        CurrentPage = "Contact"    
    };
}

<partial model="@bread" name="../partials/_Breadcrumbs.cshtml" />
<!-- Contact Form -->
<form class="__contact-form container" method="post" novalidate>
    <div class="text-danger d-flex justify-content-center mt-3" asp-validation-summary="All"></div>
    <h3 class="__form-title">Write something</h3>
    <div class="__form-divider"></div>
    <div class="__form-wrapper">
        <div class="__form-group">
            <label asp-for="Name"></label>
            <input class="__form-input-box" asp-for="Name" />
            <small><span asp-validation-for="Name" class="text-danger mt-1"></span></small>
        </div>
        <div class="__form-group">
            <label asp-for="Email"></label>
            <input class="__form-input-box" asp-for="Email" />
            <small><span asp-validation-for="Email" class="text-danger mt-1"></span></small>
        </div>
    </div>
    <div class="__form-wrapper">
        <div class="__form-group">
            <label asp-for="PhoneNumber"></label>
            <input class="__form-input-box" asp-for="PhoneNumber" />
        </div>
        <div class="__form-group">
            <label asp-for="CompanyName"></label>
            <input class="__form-input-box" asp-for="CompanyName" />
        </div>
    </div>
    <div class="__form-wrapper">
        <div class="__form-group">
            <label asp-for="Message"></label>
            <textarea class="__form-input-box" asp-for="Message"></textarea>
            <small><span asp-validation-for="Message" class="text-danger mt-1"></span></small>
        </div>
    </div>
    <div class="__form-remember">
        <input type="checkbox" name="remember" id="remember">
        <label class="__remember-text" for="remember">Save my name, email, and website in this browser for the next time I comment.</label>
    </div>
    <button class="__btn-red __form-submit-btn mt-5">Submit</button>
</form>

<!-- Google Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37637.89775572134!2d18.063876122640576!3d59.31524078869393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1679667991923!5m2!1ssv!2sse" width="100%" height="540" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
