@model ContactViewModel

<partial model="@Model.Breadcrumbs" name="../partials/_Breadcrumbs.cshtml" />
<!-- Contact Form -->
<form class="__contact-form container" action="">
    <h3 class="__form-title">Write something</h3>
    <div class="__form-divider"></div>
    <div class="__form-wrapper">
        <div class="__form-group">
            <label for="name">Your Name*</label>
            <input class="__form-input-box" type="text" name="name" id="name">
        </div>
        <div class="__form-group">
            <label for="email">Your Email*</label>
            <input class="__form-input-box" type="email" name="email" id="email">
        </div>
    </div>
    <div class="__form-wrapper">
        <div class="__form-group">
            <label for="phone">Phone Number</label>
            <input class="__form-input-box" type="text" name="phone" id="phone">
        </div>
        <div class="__form-group">
            <label for="company">Company (optional)</label>
            <input class="__form-input-box" type="text" name="company" id="company">
        </div>
    </div>
    <div class="__form-wrapper">
        <div class="__form-group">
            <label for="comment">Write Something</label>
            <textarea class="__form-input-box" name="comment" id="" cols="48" rows="10"></textarea>
        </div>
    </div>
    <div class="__form-remember">
        <input type="checkbox" name="remember" id="remember">
        <label class="__remember-text" for="remember">Save my name, email, and website in this browser for the next time I comment.</label>
    </div>
    <button class="__btn-red __form-submit-btn mt-5">Submit</button>
</form>

<!-- Google Map -->
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d37637.89775572134!2d18.063876122640576!3d59.31524078869393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1679667991923!5m2!1ssv!2sse" width="100%" height="540" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
