@{
    
    BreadcrumbsModel bread = new BreadcrumbsModel()
    {
        CurrentPage = "ACCOUNT"
    };

    ViewData["Title"] = @User.FindFirst("FullName")?.Value;
}

<partial name="../Partials/_Breadcrumbs.cshtml" model="bread" />

<section class="container __profile-wrapper">
    <img class="__img-big" src="/images/users/@User.FindFirst("Image").Value" alt="@User.FindFirst("FullName").Value">
    <h4 class="mt-5">Hello @ViewData["Title"]</h4>
    <img class="mt-5" src="/images/basic-bar-graph.png" alt="Placeholder Graph">
</section>
